.home-page {
    min-height: 100vh;
    background-color: var(--primary-background);
}

.main-content {
    max-width: 75%;
    margin: 0 auto;
    padding: 32px 16px;
}

.match-list {
    margin-top: 32px;
}

@media (max-width: 768px) {
    .main-content {
        padding: 16px;
    }
}
.row-container {
    display: flex;
    justify-content: flex-end;
}

.create-button {
    padding: 10px 20px;
    background-color: white;
    color: var(--primary);
    border: 2px solid var(--primary);
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}