.home-page {
    min-height: 100vh;
    background-color: var(--primary-background);
}

.main-content {
    max-width: 75%;
    margin: 0 auto;
    padding: 32px 16px;
}

.match-list {
    margin-top: 32px;
}

@media (max-width: 768px) {
    .main-content {
        padding: 16px;
    }
}