.home-page {
    min-height: 100vh;
    background-color: var(--primary-background);
}

.main-content {
    max-width: 75%;
    margin: 0 auto;
    padding: 32px 16px;
}

.match-list {
    margin-top: 32px;
}

@media (max-width: 768px) {
    .main-content {
        padding: 16px;
    }
}
.row-container {
    display: flex;
    justify-content: flex-end;
}

.create-button {
    padding: 10px 20px;
    background-color: white;
    color: var(--primary);
    border: 2px solid var(--primary);
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100%;
    flex-direction: column; /* Stack spinner & text */
}
  
.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #ccc;
    border-top: 4px solid #000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px; /* Space between spinner & text */
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }