.button {
    display: block;
    padding: 10px 15px;
    border-radius: 6px;
    font-weight: 600;
    transition: background-color 0.2s, color 0.2s;
    align-items: center;
    justify-content: center;
}

.button.primary {
    background-color: var(--primary);
    color: var(--secondary-background);
    border: 1px solid var(--primary);
}

.button.primary:hover {
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color: var(--secondary-background);
}

.button.outline {
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color: var(--secondary-background);
}

.button.outline:hover {
    color: var(--secondary-background);
    background-color: var(--primary);
}

.button.text {
    color: var(--primary);
    background-color: transparent;
}

.button.text:hover {
    background-color: rgba(191, 49, 49, 0.05);
}

.button.error {
    border: 1px solid var(--error);
    color: var(--error);
    background-color: var(--secondary-background);
}

.button.error:hover {
    background-color: var(--error);
    color: var(--secondary-background);
}
.button.success {
    background-color: var(--success);
    color: var(--secondary-background);
}

.button.success:hover {
    color: var(--success);
    background-color: var(--success-background);
}

.button.neutral {
    background-color: var(--neutral);
    color: var(--secondary-background);
    border: 1px solid var(--neutral);
}

.button.neutral:hover {
    color: var(--neutral);
    border: 1px solid var(--neutral);
    background-color: var(--secondary-background);
}

.button.neutral.outline {
    color: var(--neutral);
    border: 1px solid var(--neutral);
    background-color: var(--secondary-background);
}

.button.neutral.outline:hover {
    background-color: var(--neutral);
    color: var(--secondary-background);
    border: 1px solid var(--neutral);
}