.booking-card {
    border-radius: 16px;
    background-color: white;
    box-shadow: inset 1px 1px 2px 0px var(--primary-shadow);
    padding: 24px;
    position: relative;
    margin-bottom: 1rem;
    width: 49%;
    flex-wrap: wrap;
}

.booking-card:before,
.booking-card:after {
    content: '';
    position: absolute;
    background: var(--primary-background);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    top: 64%;
    transform: translateY(-50%);
}

.booking-card:before {
    left: -12px;
}

.booking-card:after {
    right: -12px;
}

.booking-card-header {
    font-size: 12px;
    display: flex;
    justify-content: end;
    color: var(--neutral);
    margin-bottom: 1rem;
}

.booking-card-content {
    border-bottom: 1px dashed var(--secondary-border);
}

.booking-card-footer {
    padding-top: 20px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: end;
    width: 85%;
}

.price {
    font-size: 20px;
    font-weight: 700;
    color: var(--text);
    display: flex;
    align-items: end;
}

@media (max-width: 768px) {
    .booking-card {
        width: 100%;
    }
}