.match-card {
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 8px 0px var(--primary-shadow);
  padding: 20px;
  background-color: var(--secondary-background);
  position: relative;
  margin: 20px auto;
}

.teams-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.team-logo {
  width: 120px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.team-logo-img {
  max-height: 80%;
}

.team-name {
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
  color: var(--text);
}

.match-metadata {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match-metadata .versus {
  font-size: 1.6rem;
}

.match-metadata .venue, .match-metadata .date {
  font-size: 0.75rem;
}

.venue, .date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.versus {
  font-weight: bold;
  font-size: 32px;
  color: var(--text);
  margin-bottom: 4px;
}

.partition {
  width: 80%;
  margin: 0.8rem auto;
  opacity: 0.25;
}


.pricing-data {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.ticket-label {
  width: 30%;
  font-size: 14px;
  color: var(--text);
}

.ticket-price, .active-tkts {
  font-weight: 700;
  font-size: 28px;
  color: var(--success);
}

.active-tkts {
  font-size: 20px;
}

.button-wrapper {
  width: 30%;
}

.book-button {
  font-size: 0.9rem;
  padding: 2px 4px;
  float: right;
}

/* Action Icons */
.action-icons {
  position: absolute;
  top: 4px;
  right: -50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.match-info:hover .action-icons {
  opacity: 1;
}

.icon {
  padding: 5px;
  background-color: var(--secondary-background);
  box-shadow: 5px 5px 8px 0px var(--primary-shadow);
  border-radius: 5px;
}

.icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.edit-icon {
  color: var(--primary);
}

.delete-icon {
  color: var(--error);
}